:root {
  --black: black;
  --white: white;
  --gold: #eecc5b;
  --grey: #0f0f0f;
}

body {
  background-color: var(--black);
  color: var(--white);
  letter-spacing: .4px;
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
}

h1 {
  text-shadow: none;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 46px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  color: var(--gold);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Igrasans, sans-serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 120%;
}

.section {
  justify-content: center;
  padding: 140px 60px;
  display: flex;
}

.section.top_section {
  padding-top: 40px;
}

.container {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.logo_wrapper {
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
  display: flex;
}

.logo {
  max-width: 160px;
}

.hero {
  min-height: 520px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: -60px;
  margin-right: -60px;
  padding: 60px;
  display: flex;
  position: relative;
}

.hero.hero_mid {
  justify-content: space-between;
}

.hero_col {
  max-width: 50%;
  min-width: 540px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.hero_col.hero_col_mid {
  min-width: auto;
}

.subtitle {
  z-index: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-left: 3px;
  font-size: 12px;
  line-height: 100%;
}

.heading {
  z-index: 1;
  min-width: 580px;
  color: var(--gold);
  letter-spacing: .8px;
  text-shadow: none;
  font-family: Igrasans, sans-serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 100%;
}

.heading.clipped {
  text-shadow: none;
  background-image: url('../images/image-1.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_pic_wrapper {
  z-index: -1;
  background-color: var(--grey);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hero_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_pic.hero_pic_small {
  width: auto;
  height: auto;
  max-height: 90%;
  margin-top: auto;
}

.hero_pic.hero_pic_small.full {
  flex: 1;
}

.pic_overlay {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .76), rgba(0, 0, 0, .2));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.subheading {
  z-index: 1;
  font-size: 18px;
  line-height: 160%;
}

.subheading.subheading_small {
  max-width: 380px;
}

.scroll_wrapper {
  height: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.scroll_block {
  width: 2px;
  height: 80px;
  overflow: hidden;
}

.scroll_line {
  width: 100%;
  height: 100%;
  background-image: url('../images/image-1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.row.bot_row {
  align-items: stretch;
}

.heading_wrapper {
  max-width: 50%;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.heading_wrapper.heading_wrapper_no_sticky {
  position: static;
}

.heading_wrapper.heading_wrapper_no_sticky.auto {
  max-width: 100%;
  text-align: center;
}

.heading-2 {
  z-index: 1;
  font-size: 38px;
}

.heading-2.clipped {
  background-image: url('../images/image-1.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-2.clipped.heading-2-2, .heading-2.clipped.heading-2-3 {
  margin-bottom: 40px;
}

.heading-2.clipped.heading-2-3.mb-10 {
  margin-bottom: 10px;
}

.heading-2.clipped.auto.mb-20 {
  margin-bottom: 20px;
}

.right_col {
  max-width: 360px;
  grid-row-gap: 80px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-left: 80px;
  display: grid;
}

.right_col.right_col_2 {
  margin-top: 120px;
}

.card {
  transform-origin: 0 0;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.card_pic {
  margin-bottom: 32px;
}

.gold_txt {
  color: var(--gold);
}

.gold_txt.clipped {
  background-image: url('../images/image-1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gold_txt.clipped.big_txt {
  font-size: 18px;
  line-height: 160%;
}

.gold_txt.clipped.new_price {
  border-bottom: 1px solid var(--gold);
  font-size: 16px;
}

._4_col_row {
  grid-column-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.number_col {
  transform-origin: 0 0;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.number {
  color: var(--gold);
  margin-bottom: 24px;
  font-family: A avantetitulinline, sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 100%;
}

.number.clipped {
  background-image: url('../images/image-1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.number.number_small {
  margin-top: 4px;
  margin-bottom: 0;
  margin-right: 16px;
  font-size: 28px;
}

.big_txt {
  font-size: 18px;
  line-height: 160%;
}

.big_txt.review_name {
  margin-bottom: 8px;
}

.hero_col_2 {
  z-index: 1;
  grid-row-gap: 24px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  display: grid;
  position: relative;
}

.advantage_row {
  max-width: 340px;
  transform-origin: 0 0;
  align-items: flex-start;
  display: flex;
}

.bottle_wrappeer {
  z-index: 2;
  width: 50%;
  max-width: 50%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.bottle {
  max-width: 260px;
}

.component {
  transform-origin: 0 0;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.component_name {
  align-items: center;
  margin-bottom: 8px;
  display: flex;
  position: relative;
}

.dot {
  width: 8px;
  height: 8px;
  background-image: url('../images/image-1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 16px;
  display: flex;
  position: absolute;
  right: 100%;
}

.dot_line {
  width: 25vw;
  height: 2px;
  transform-origin: 100%;
  background-image: url('../images/image-1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 100%;
}

.befor_after {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 80px;
  display: grid;
}

.befor_after_col {
  height: 290px;
  transform-origin: 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.befor_after_pic {
  margin-bottom: 32px;
}

.patient_name {
  width: 50%;
  margin-bottom: 32px;
}

.befor_after_col_2 {
  z-index: 2;
  max-width: 380px;
  position: relative;
}

.befor_after_weight {
  min-width: 140px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.befor_txt {
  color: var(--gold);
  margin-bottom: 4px;
  font-family: A avantetitulinline, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 100%;
}

.befor_txt.clipped {
  background-image: url('../images/image-1.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.befor_txt.clipped.befor_txt_small {
  margin-bottom: 0;
  font-size: 24px;
}

.bafor_after_line {
  width: 15vw;
  height: 2px;
  transform-origin: 0%;
  background-image: url('../images/image-1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 100%;
}

.bafor_after_line.bafor_after_line_right {
  transform-origin: 100%;
  left: auto;
  right: 100%;
}

.button {
  width: 100%;
  max-width: 320px;
  min-height: 74px;
  color: var(--black);
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--gold);
  background-image: url('../images/image-1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding: 24px 32px;
  font-size: 13px;
  font-weight: 900;
  line-height: 120%;
  text-decoration: none;
  transition: background-color .3s, transform .8s cubic-bezier(.23, 1, .32, 1);
  display: flex;
}

.button:hover {
  background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)), url('../images/image-1.png');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  transform: scale(.98);
}

.questions_row {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.questions_col {
  grid-row-gap: 4px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.dropdown {
  min-width: 100%;
}

.dropdown-toggle {
  background-color: var(--grey);
  color: var(--white);
  white-space: pre-line;
  justify-content: space-between;
  align-items: center;
  margin-left: -60px;
  padding: 32px 60px;
  display: flex;
}

.question {
  color: var(--gold);
  margin-right: 32px;
  font-family: A avantetitulinline, sans-serif;
  font-size: 38px;
  line-height: 100%;
}

.question.clipped {
  background-image: url('../images/image-1.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.dropdown_button {
  letter-spacing: .8px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 16px 16px 16px 24px;
  font-size: 12px;
  line-height: 120%;
  transition: border-color .3s;
  display: flex;
}

.dropdown_button:hover {
  border-color: #fff;
}

.dropdown_icon {
  width: 7px;
  margin-left: 8px;
}

.dropdown-list.w--open {
  background-color: var(--grey);
  align-items: center;
  margin-left: -60px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.dropdown_content {
  width: 100%;
  border-top: 2px dashed #000;
  padding: 24px 60px 40px;
}

.toggle_txt {
  max-width: 430px;
  margin-right: 16px;
}

.toggle_txt.v {
  color: var(--gold);
  margin-left: auto;
  font-family: A avantetitulinline, sans-serif;
  font-size: 24px;
}

.answer {
  max-width: 360px;
  margin-left: 51px;
}

.form_wrapper {
  background-color: var(--grey);
  margin-right: -60px;
  padding-top: 0;
  padding-bottom: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.form_wrapper.form_wrapper_bot {
  transform-origin: 0 0;
  margin-top: 80px;
  margin-right: 0;
  position: relative;
  top: auto;
}

.form_img {
  margin-bottom: 16px;
}

.form-block {
  margin-bottom: 0;
  padding-left: 60px;
  padding-right: 60px;
}

.field-label {
  text-align: center;
  font-family: Igrasans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.field-label.clipped {
  background-image: url('../images/image-1.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
}

.text-field {
  height: 68px;
  background-color: var(--black);
  color: var(--gold);
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 4px;
  padding-left: 40px;
  padding-right: 40px;
}

.text-field:hover, .text-field:focus {
  border-color: var(--gold);
}

.text-field::-ms-input-placeholder {
  color: var(--white);
  letter-spacing: .8px;
  font-size: 12px;
}

.text-field::placeholder {
  color: var(--white);
  letter-spacing: .8px;
  font-size: 12px;
}

.price_wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 40px;
  padding-right: 40px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.old_price {
  color: rgba(255, 255, 255, .6);
  font-size: 12px;
}

.old_price_span {
  text-decoration: line-through;
}

.new_pricce_span {
  font-size: 20px;
  font-weight: 700;
}

.uah {
  text-transform: uppercase;
  font-size: 12px;
}

.review_top {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.review_top_col {
  width: 50%;
  text-align: center;
}

.review_card {
  transform-origin: 0 0;
}

.review_pic_wrapper {
  margin-bottom: 32px;
  position: relative;
}

.weight {
  background-color: var(--grey);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 140%;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 12px;
  left: -12px;
  right: auto;
}

.weight.new_weight {
  top: auto;
  bottom: 12px;
  left: auto;
  right: -12px;
}

.bot_row_2 {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  max-width: 240px;
}

.ball {
  z-index: 3;
  width: 100px;
  position: relative;
}

.ball.ball_1 {
  width: 80px;
  position: absolute;
  top: 26%;
  bottom: auto;
  left: -5%;
  right: auto;
}

.ball.ball_2 {
  width: 60px;
  position: absolute;
  top: 48%;
  bottom: auto;
  left: auto;
  right: -4%;
}

.ball.ball_3 {
  width: 70px;
  position: absolute;
  top: -45%;
  bottom: auto;
  left: 30%;
  right: auto;
}

.ball.ball_4 {
  position: absolute;
  bottom: -10%;
  right: 10%;
}

.ball.ball_5 {
  width: 50px;
  position: absolute;
  top: auto;
  bottom: -6%;
  left: auto;
  right: 40%;
}

.ball.ball_6 {
  width: 90px;
  position: absolute;
  top: -9%;
  bottom: auto;
  left: 4%;
  right: auto;
}

.ball.ball_7 {
  width: 70px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 9%;
}

.ball.ball_8 {
  position: absolute;
  top: 62%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.ball.ball_9 {
  width: 80px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.doc {
  margin-bottom: 32px;
}

.div-block {
  font-size: 16px;
}

.doc_info {
  font-size: 12px;
  font-weight: 400;
}

.signature {
  max-width: 50%;
  margin-top: 16px;
}

.form {
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  display: flex;
}

.layer-black {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 0, 0, .5);
  background-image: linear-gradient(#000, rgba(133, 133, 133, .08) 53%, #000 102%);
  position: absolute;
}

.layer-black.more-black {
  background-color: rgba(0, 0, 0, .75);
}

.text-center {
  text-align: center;
}

.mini-text {
  font-size: 14px;
}

@media screen and (min-width: 1280px) {
  .hero_col.hero_col_mid {
    max-width: 520px;
  }

  .heading {
    font-size: 52px;
  }

  .heading-2 {
    font-size: 46px;
  }

  .right_col {
    max-width: 380px;
  }

  .number_col {
    font-size: 18px;
    line-height: 160%;
  }

  .advantage_row.advantage_row_1 {
    margin-left: -32px;
  }

  .advantage_row.advantage_row_2 {
    margin-left: -24px;
  }

  .advantage_row.advantage_row_3 {
    margin-left: -16px;
  }

  .advantage_row.advantage_row_4 {
    margin-left: -8px;
  }

  .dot_line {
    width: 33vw;
  }

  .befor_after_weight {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .questions_col {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
  }

  .toggle_txt {
    margin-right: 40px;
  }
}

@media screen and (max-width: 991px) {
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section.top_section {
    padding-top: 60px;
  }

  .logo {
    max-width: 160px;
  }

  .hero {
    min-height: 520px;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .hero.hero_mid.hero_mid_2 {
    flex-direction: column;
    align-items: flex-start;
  }

  .heading.clipped {
    max-width: 460px;
    min-width: auto;
    font-size: 38px;
  }

  .hero_pic.hero_pic_small {
    max-width: 50%;
    margin-left: auto;
    margin-right: 16px;
  }

  .hero_pic.hero_pic_small.full {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 0;
  }

  .heading-2.clipped {
    font-size: 28px;
  }

  .hero_col_2 {
    margin-top: 40px;
  }

  .dropdown-toggle {
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form_wrapper {
    margin-right: -40px;
    padding-bottom: 40px;
  }

  .form-block {
    padding-left: 40px;
    padding-right: 40px;
  }

  .price_wrapper {
    align-items: center;
    margin-bottom: 32px;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section.top_section {
    padding-top: 40px;
  }

  .container {
    max-width: 580px;
  }

  .logo_wrapper {
    margin-bottom: 40px;
  }

  .hero {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .hero_col {
    max-width: none;
    min-width: auto;
  }

  .subtitle.hero_subtitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .heading.clipped {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
  }

  .hero_pic_wrapper {
    z-index: 0;
    margin-bottom: 32px;
    position: relative;
  }

  .hero_pic.hero_pic_small {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .scroll_wrapper {
    display: none;
  }

  .row {
    flex-direction: column;
  }

  .heading_wrapper {
    max-width: none;
    margin-bottom: 80px;
    position: relative;
    top: 0;
  }

  .heading_wrapper.heading_wrapper_no_sticky.heading_wrapper_bot {
    margin-bottom: 0;
  }

  .heading-2.clipped {
    max-width: 360px;
    font-size: 26px;
  }

  .heading-2.clipped.heading-2-2 {
    max-width: 320px;
  }

  .right_col {
    margin-left: 0;
  }

  ._4_col_row {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  .number.clipped.number_small {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .advantage_row {
    max-width: 320px;
    flex-direction: column;
  }

  .bottle_wrappeer {
    width: auto;
    max-width: none;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    position: static;
  }

  .bottle {
    max-width: 220px;
  }

  .dot_line {
    display: none;
  }

  .befor_after {
    max-width: 380px;
    grid-template-columns: 1fr 1fr;
  }

  .befor_after_col {
    height: auto;
  }

  .befor_after_weight {
    margin-bottom: 16px;
  }

  .befor_txt.clipped {
    font-size: 32px;
  }

  .befor_txt.clipped.befor_txt_small {
    text-align: left;
  }

  .bafor_after_line {
    display: none;
  }

  .questions_row {
    grid-template-columns: 1fr;
  }

  .dropdown-toggle {
    margin-left: 0;
    padding-left: 32px;
    padding-right: 32px;
  }

  .dropdown-list.w--open {
    margin-left: 0;
  }

  .dropdown_content {
    padding-left: 32px;
    padding-right: 32px;
  }

  .form_wrapper {
    margin-right: 0;
  }

  .bot_row_2 {
    display: none;
  }

  .ball.ball_4 {
    width: 80px;
  }

  .ball.ball_8 {
    width: 70px;
    left: -3%;
  }

  .div-block {
    transform-origin: 0 0;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding: 40px 12px;
  }

  .container {
    max-width: 320px;
  }

  .heading.clipped {
    font-size: 26px;
  }

  .subheading.center-mob {
    text-align: center;
  }

  .heading-2.clipped {
    font-size: 22px;
  }

  .heading-2.clipped.heading-2-2 {
    max-width: 280px;
  }

  ._4_col_row {
    grid-column-gap: 32px;
  }

  .number.clipped {
    font-size: 42px;
  }

  .bottle {
    max-width: 180px;
  }

  .dot {
    position: static;
  }

  .befor_after {
    grid-template-columns: 1fr;
  }

  .befor_txt.clipped {
    font-size: 28px;
  }

  .dropdown-toggle {
    padding-left: 16px;
    padding-right: 16px;
  }

  .question.clipped {
    margin-right: 16px;
    font-size: 31px;
  }

  .dropdown_button {
    border-style: none;
    border-radius: 0;
    padding: 0;
  }

  .dropdown_icon {
    max-width: 7px;
    margin-left: 0;
  }

  .answer {
    margin-left: 10px;
  }

  .form_wrapper {
    overflow: hidden;
  }

  .form_img {
    max-width: 160%;
  }

  .form-block {
    padding-left: 16px;
    padding-right: 16px;
  }

  .weight {
    padding-left: 10px;
    padding-right: 10px;
    left: -10px;
  }

  .weight.new_weight {
    right: -10px;
  }

  .dropdown_button_txt {
    display: none;
  }

  .ball.ball_1 {
    width: 60px;
    top: 35%;
  }

  .ball.ball_2, .ball.ball_3 {
    width: 50px;
  }

  .ball.ball_4 {
    width: 70px;
  }

  .ball.ball_5 {
    width: 40px;
  }

  .ball.ball_6 {
    width: 70px;
    top: -3%;
  }

  .ball.ball_7 {
    width: 60px;
    top: 20%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .ball.ball_8 {
    width: 40px;
    top: 11%;
  }

  .ball.ball_9 {
    width: 60px;
    bottom: -12%;
  }

  .form_img_wrapper {
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }
}

#w-node-f9889328-5e9d-3930-e485-49273f33addd-c5356e0f, #form.w-node-_7156b6fe-d263-8933-ac3f-59fdd254d339-c5356e0f {
  align-self: start;
}

@media screen and (max-width: 767px) {
  #w-node-_674972bb-76c6-3cd1-0a6c-6cc9045428e0-c5356e0f {
    order: -9999;
  }

  #w-node-e065fe70-353e-2c2c-1874-0b76038deada-c5356e0f {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_6340ea9b-a0e9-1256-c500-2ffe6e467510-c5356e0f {
    order: -9999;
  }
}

@media screen and (max-width: 479px) {
  #w-node-e065fe70-353e-2c2c-1874-0b76038deada-c5356e0f {
    grid-column: span 1 / span 1;
  }
}


@font-face {
  font-family: 'Avant 29';
  src: url('../fonts/AVANT_29.TTF.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Black.eot') format('embedded-opentype'), url('../fonts/Gilroy-Heavy.eot') format('embedded-opentype'), url('../fonts/Gilroy-Black.woff') format('woff'), url('../fonts/Gilroy-Heavy.woff') format('woff'), url('../fonts/Gilroy-Black.ttf') format('truetype'), url('../fonts/Gilroy-Heavy.ttf') format('truetype'), url('../fonts/Gilroy-Black.otf') format('opentype'), url('../fonts/Gilroy-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'), url('../fonts/Gilroy-Extrabold.eot') format('embedded-opentype'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Extrabold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Extrabold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.otf') format('opentype'), url('../fonts/Gilroy-Extrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-BoldItalic.eot') format('embedded-opentype'), url('../fonts/Gilroy-ExtraboldItalic.eot') format('embedded-opentype'), url('../fonts/Gilroy-BoldItalic.woff') format('woff'), url('../fonts/Gilroy-ExtraboldItalic.woff') format('woff'), url('../fonts/Gilroy-BoldItalic.ttf') format('truetype'), url('../fonts/Gilroy-ExtraboldItalic.ttf') format('truetype'), url('../fonts/Gilroy-BoldItalic.otf') format('opentype'), url('../fonts/Gilroy-ExtraboldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-HeavyItalic.eot') format('embedded-opentype'), url('../fonts/Gilroy-BlackItalic.eot') format('embedded-opentype'), url('../fonts/Gilroy-BlackItalic.woff') format('woff'), url('../fonts/Gilroy-HeavyItalic.woff') format('woff'), url('../fonts/Gilroy-BlackItalic.ttf') format('truetype'), url('../fonts/Gilroy-HeavyItalic.ttf') format('truetype'), url('../fonts/Gilroy-BlackItalic.otf') format('opentype'), url('../fonts/Gilroy-HeavyItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-LightItalic.eot') format('embedded-opentype'), url('../fonts/Gilroy-LightItalic.woff') format('woff'), url('../fonts/Gilroy-LightItalic.ttf') format('truetype'), url('../fonts/Gilroy-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-MediumItalic.eot') format('embedded-opentype'), url('../fonts/Gilroy-MediumItalic.woff') format('woff'), url('../fonts/Gilroy-MediumItalic.ttf') format('truetype'), url('../fonts/Gilroy-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.eot') format('embedded-opentype'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.eot') format('embedded-opentype'), url('../fonts/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy-Light.ttf') format('truetype'), url('../fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.eot') format('embedded-opentype'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype'), url('../fonts/Gilroy-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.eot') format('embedded-opentype'), url('../fonts/Gilroy-Semibold.woff') format('woff'), url('../fonts/Gilroy-Semibold.ttf') format('truetype'), url('../fonts/Gilroy-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-RegularItalic.eot') format('embedded-opentype'), url('../fonts/Gilroy-RegularItalic.woff') format('woff'), url('../fonts/Gilroy-RegularItalic.ttf') format('truetype'), url('../fonts/Gilroy-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiboldItalic.eot') format('embedded-opentype'), url('../fonts/Gilroy-SemiboldItalic.woff') format('woff'), url('../fonts/Gilroy-SemiboldItalic.ttf') format('truetype'), url('../fonts/Gilroy-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Igrasans';
  src: url('../fonts/IgraSans.eot') format('embedded-opentype'), url('../fonts/IgraSans.woff') format('woff'), url('../fonts/IgraSans.ttf') format('truetype'), url('../fonts/IgraSans.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'A avantetitulinline';
  src: url('../fonts/a_AvanteTitulInline.woff') format('woff'), url('../fonts/a_AvanteTitulInline.ttf') format('truetype'), url('../fonts/a_AvanteTitulInline.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}